/.idea/
/data.zip
/github_token.txt
/wandb/
/*/wandb/
/visual_features/clip_models/
/visual_features/moca_models/
/*results/
/*/*_results/
/__pycache__/
/*/__pycache__/
/dataset/
/*/old/
/visual_features/old/
*.zip
/local_dataset/
/visual_features/data/_old_data.py
/new-dataset/
/exp*/
/*exp/
/test*.py
