certifi

charset-normalizer

git+https://github.com/openai/CLIP.git


colorama

cycler

fonttools

ftfy

h5py

idna

kiwisolver

matplotlib

networkx

numpy

opencv-python

packaging

pandas

Pillow

pyparsing

python-dateutil

pytz

regex

requests

scipy

seaborn

six

torch

torchaudio

torchinfo

torchtext

torchvision

tqdm

typing_extensions

urllib3

vocab

wcwidth

